{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Finnished</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.description }}</td>
            <td>{{ task.createdAt | date }}</td>
            <td>{{ task.done ?'Yes':'No' }}</td>
            <td><a href="{{ path('task_edit', {id: task.id}) }}" class="ui button">Edit task</a></td>
        </tr>
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <th class="">
                <a href="{{ path('task_new') }}" class="ui button">Create Task</a>
            </th>
        </tr>
        </tfoot>
    </table>

{% endblock %}
